.footer{
    display: grid;
    grid-template-columns: 30% 30% auto;
    grid-gap: auto;
    height: 6em;
    padding: 0 5%;
    /* margin-top: -32px; */
}

.footer > div {
    padding: 10px 10%;
}

@media screen and (max-width: 768px){

    

}

@media screen and (max-width: 425px){

    .footer{
        height: fit-content;
        grid-template-columns: auto;
    }

    .footer > div {
        padding: 10px 0;
    }
}