.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    height: 6em;
    margin-top: -32px;
}

@media screen and (max-width: 768px){

    .footer{
        height: fit-content;
        grid-template-columns: auto;
    }

}

@media screen and (max-width: 425px){

    
}