.info-page-container {
    height: 40em;
}

.info-header {
    margin: 0 !important;
    padding: 0 15px !important;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

.info-container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.info-container > div {
    width: 100%;
    height: 100%;
}   

.store-info-list
{
    height: 160px;
    overflow: scroll; 
    margin-top: 20px;
    justify-content: center;
}

.store-info-list > div {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1.25rem 0;
}

.store-info-list h3{
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
    line-height: 28px;
    text-align: left;
}

.store-info-list h4{
    font-size: 14px;
    margin: 0 10px;
    line-height: 20px;
    text-align: left;
}

.mobile-only {
    display: none !important;
}

@media screen and (max-width: 768px){

    .info-page-container {
        padding-left: 10px !important;
        padding-right: 10px !important;
        max-width: 600px !important;
    }
    
    .container.jumbotron {
        height: fit-content !important;
    }

    .info-header {
        grid-column: auto / auto;
        grid-row: auto / auto;
        order: 2;
    }

    .info-container {
        grid-template-columns: auto;
    }

    .info-container .vaccine-list {
        order: 3;
    }

    .info-container .vaccine-list .card.card-body {
        padding-top: 1rem;
        padding-bottom: 1rem !important;
    }

    .info-container .vaccine-list .card-title {
        margin-bottom: 0 !important;
    }

    .info-container .vaccine-list .card-title .mobile-only {
        float: right;
        display: inline !important;
        font-weight: 400;
        color: gray;
    }

    .pc-only {
        display: none !important;
    }

    .mobile-only {
        display: flex !important;
    }

    .info-container .store-list {
        order: 1;
        text-align: center;
        justify-content: center;
        padding: 0 15px;
    }

    .info-container .store-list #myMap{
        width: 100% !important;
    }

    .store-info-list .card>div{
        padding-left: 2.5em;
        text-align: left;
    }
}


@media screen and (max-width: 425px){


    /* Vaccine Detail */

    .vaccine-title{
        height: 18em !important;
        height: fit-content !important;
    }

    .vaccine-info{
        height: fit-content !important;
    }

}