.info-header {
    margin: 0 !important;
    padding: 0 15px !important;
}

.info-container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.info-container > div {
    width: 100%;
    height: 100%;
}   



@media screen and (max-width: 768px){

   .container.jumbotron{
       height: fit-content !important;
   }

    .info-container {
        grid-template-columns: auto;
    }

    .info-container .vaccine-list {
        order: 2;
    }

    .info-container .store-list {
        order: 1;
        text-align: center;
        justify-content: center;
        padding: 0 15px;
    }

    .info-container .store-list #myMap{
        width: 100% !important;
    }
}


@media screen and (max-width: 425px){

    /* Vaccine Detail */

    .container #vaccine-title{
        height: 18em !important;
    }

    .container #vaccine-info{
        height: fit-content !important;
    }

}