.info-page-container {
    height: 40em;
}

.info-header {
    margin: 0 !important;
    padding: 0 15px !important;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

.info-container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.info-container > div {
    width: 100%;
    height: 100%;
}   

.store-info-list
{
    height: 160px;
    overflow: scroll; 
    margin-top: 20px;
    justify-content: center;
}

.store-info-list > div {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1.25rem 0;
}

.store-info-list h3{
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
    line-height: 28px;
    text-align: left;
}

.store-info-list h4{
    font-size: 14px;
    margin: 0 10px;
    line-height: 20px;
    text-align: left;
}

.mobile-only {
    display: none !important;
}

@media screen and (max-width: 768px){

    .info-page-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 95% !important;
    }
    
    .container.jumbotron {
        height: fit-content !important;
    }

    .info-header {
        grid-column: auto / auto;
        grid-row: auto / auto;
        order: 2;
    }

    .info-container {
        grid-template-columns: auto;
    }

    .info-container .vaccine-list {
        order: 3;
    }

    .info-container .vaccine-list .card.card-body {
        padding-top: 1rem;
        padding-bottom: 1rem !important;
    }

    .info-container .vaccine-list .card-title {
        margin-bottom: 0 !important;
    }

    .info-container .vaccine-list .card-title .mobile-only {
        float: right;
        display: inline !important;
        font-weight: 400;
        color: gray;
    }

    .pc-only {
        display: none !important;
    }

    .mobile-only {
        display: flex !important;
    }

    .info-container .store-list {
        order: 1;
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    .info-container .store-list #myMap{
        width: 100% !important;
    }

    .store-info-list, .mobile-store-info-list  .card>div{
        padding-left: 2.5em;
        text-align: left;
    }

    .sl-container {
        display: grid !important;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        position: relative;

    }

    .sl-btn-container {
        display: grid !important;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        justify-items: center;
        margin: 1rem 0;
        padding: 8px 0;
    }

    .sl-btn-container>button {
        width: 90%;
        font-size: 18px;
        line-height: 18px;
        padding: 6px 0;
        color: gray;
    }

    .sl-btn-container>button:last-child {

        background-color: black;
        color: white;
    }


    .mobile-store-info-list{
        height: 30em;
        overflow: scroll;
        padding: 0 0.5rem;
    }

    .mobile-store-info-list .card {
        z-index: 1;
    }

    .mobile-store-info-list .card h3 {
        font-size: 1.5rem;
    }

    .mobile-store-info-list .card h4 {
        font-size: 1rem;
        text-align: left;
    }

    .mobile-store-info-list button {
        position: absolute;
        top: 6rem;
        right: 1rem;
        float: right;
        z-index: 5;
    }

    .sl-btn {
        border: 1px solid gray;
        border-radius: 4px;
        background-color: white;
        color: gray;
    }
}


@media screen and (max-width: 425px){


    /* Vaccine Detail */

    .vaccine-title{
        height: 18em !important;
        height: fit-content !important;
    }

    .vaccine-info{
        height: fit-content !important;
    }

}